@{
  Layout = "_Layout";
}

@model PierreMarket.Models.Flavor
@using PierreMarket.Models

<h2>@Html.DisplayFor(model => model.FlavorName)</h2>
<hr />
<h4>@Html.DisplayFor(model => model.FlavorDetails)</h4>

@if(@Model.Treats.Count == 0)
{
  <p>This Flavor does not have any treats</p>
}
else
{
  <ul>
  @foreach (FlavorTreat join in Model.Treats)
  {
    <li>@Html.ActionLink(@join.Treat.TreatName, "Details", "Treats", new { id = join.Treat.TreatId })</li>
    @using (Html.BeginForm("DeleteTreat", "Flavors"))
    {
      @Html.Hidden("FlavorTreatId", @join.FlavorTreatId)
      <input type="submit" value="Remove"/>
    }
  }
  </ul>
}

@if (User.Identity.Name == "admin@library.local")
{
  <p>@Html.ActionLink("Edit Flavor", "Edit", new { id = Model.FlavorId })</p>
  <p>@Html.ActionLink("Delete Flavor", "Delete", new { id = Model.FlavorId })</p>
  <p>@Html.ActionLink("Add Treat", "AddTreat", new { id = Model.FlavorId })</p>
}